; 请妥善保管您的配置
registry=https://xbt-coder-npm.pkg.coding.net/xbt-platform/apps/
always-auth=true
//xbt-coder-npm.pkg.coding.net/xbt-platform/apps/:username=apps-1615791220991
//xbt-coder-npm.pkg.coding.net/xbt-platform/apps/:_password=NTc4OTVlNGQ4MmRjYjA0ZTA1ZTlkNDYyOThhZTFjN2FlNjlhYWI5NQ==
//xbt-coder-npm.pkg.coding.net/xbt-platform/apps/:email=2037630@163.com
